**1. Overview of the Project:**

This project performs web scraping to extract the list of the largest companies in the United States by revenue from Wikipedia.

In [19]:
pip install requests
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (4.12.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: soupsieve>1.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4) (2.6)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

**2. Importing Libraries:**

Importing necessary libraries for web scraping and data manipulation.

In [21]:
from bs4 import BeautifulSoup
import requests

**3. Extracting & Cleaning Data:**

We first identify the relevant table containing the list of companies, then extract the necessary information 
by iterating through the table rows. After extraction, we will clean the data to ensure it is in a usable format.

In [22]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [59]:
table_one = soup.find_all('table')[0]
#print(table_one)

In [60]:
titles = table_one.find_all('th')
title = [title.text.strip() for title in titles]
#print(title)

In [42]:
import pandas as pd

In [46]:
df = pd.DataFrame(columns = title)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [50]:
column_data = table.find_all('tr')

In [55]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    #print(individual_row_data)
    length = len(df)
    df.loc[length] = individual_row_data

In [56]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

**4. Saving Data**

Saving the cleaned data to a CSV file for future reference.

In [61]:
df.to_csv(r'C:\Users\user\OneDrive - The University of Hong Kong - Connect\Documents\Data Analytics Projects\Web Scraping Output\Companies.csv')

**5. Conclusion**

This project successfully extracts and saves the list of largest US companies by revenue, providing insights into the current business landscape.